


table {
  border-collapse: collapse;
  border-spacing: 0;
}



table {
  table-layout: fixed;
}
table th, table td {
  vertical-align: top;
  word-break: keep-all;
  word-wrap: break-word;
}

#items .first-cell, #items table th:first-child, #items table td:first-child {
  width: 18px;
  text-align: right;
}
#items table {
  border-collapse: separate;
  width: 100%;
}
#items table tr:nth-child(odd) {
  background: #fafafa;
}
#items table th {
  font-weight: bold;
  color: #fff;
  background: #4b4f52;
  padding: 12px 10px;
  text-align: right;
}
#items table th:nth-child(2) {
  width: 30%;
  text-align: left;
}
#items table th:last-child {
  text-align: right;
}
#items table td {
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #fff;
  padding: 15px 10px;
  text-align: right;
}
#items table td:first-child {
  text-align: left;
}
#items table td:nth-child(2) {
  text-align: left;
}
#items table td:empty:after {
  content: '';
  display: block;
  min-height: 18px;
}
#items table span {
  display: inline-block;
  min-width: 20px;
}

#sums {
  float: left;
  margin-top: 30px;
  page-break-inside: avoid;
}
#sums table tr th, #sums table tr td {
  min-width: 100px;
  padding: 10px;
  text-align: right;
}
#sums table tr th {
  text-align: left;
  padding-right: 25px;
}

#sums table tr.title th {
  text-transform: uppercase;
}
#sums table tr.title th, #sums table tr.title td {
  font-weight: bold;
}

#sums table tr.amount-total th {
  text-transform: uppercase;
}
#sums table tr.amount-total th, #sums table tr.amount-total td {
  font-weight: bold;
  border-top: 1px solid #e2e2e2;
}
#sums table tr:last-child th, #sums table tr:last-child td {
  color: #fff;
  background: #4b4f52;
  font-weight: bold;
}

#deductions {
  float: right;
  margin-top: 30px;
  page-break-inside: avoid;
}
#deductions table tr th, #deductions table tr td {
  min-width: 100px;
  padding: 10px;
  text-align: right;
}
#deductions table tr th {
  text-align: left;
  padding-right: 25px;
}

#deductions table tr.title th {
  text-transform: uppercase;
}
#deductions table tr.title th, #deductions table tr.title td {
  font-weight: bold;
}

#deductions table tr.amount-total th {
  text-transform: uppercase;
}
#deductions table tr.amount-total th, #deductions table tr.amount-total td {
  font-weight: bold;
  border-top: 1px solid #e2e2e2;
}
#deductions table tr:last-child th, #deductions table tr:last-child td {
  color: #fff;
  background: #4b4f52;
  font-weight: bold;
}